:root {
  --bg-secondary-color: #f5f0f0;
  --bg-color: #fffafa;
  --text-color: #151515;
  --accent-color: #a880ff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 125vh;
}

.button {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin: 0.5rem 1rem;
  text-decoration: none;
  color: var(--text-color);

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;

  transition: 0.3s ease;

  background-color: var(--bg-secondary-color);
}

.button:hover {
  background-color: var(--accent-color);
  transform: scale(1.05) skew(-0.7deg, -0.7deg);
}
